amqp==1.4.7
anyjson==0.3.3
billiard==3.3.0.21
celery==3.1.19
enum-compat==0.0.2
Flask==0.10.1
gunicorn==19.3.0
honcho==0.6.6
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.29
loggly-python-handler==1.0.0
MarkupSafe==0.23
netifaces==0.10.4
protobuf==3.0.0b1.post2
PyChromecast==0.6.13
pytz==2015.7
redis==2.10.5
requests==2.8.1
requests-futures==0.9.5
six==1.10.0
Werkzeug==0.10.4
zeroconf==0.17.4
